*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
	margin:auto;
	width: calc(100vw - 17px);
	min-height: calc(100vh + 1px);
	background-color: #1a1a1a;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	min-width: 600px;
	position: relative;
}
#content{
	margin: 0 20px 0 20px;
	padding-bottom: 150px;
}
@keyframes example{
	from  {
		visibility: hidden;
	}
	to{
		visibility: visible;
	}
}